@import 'tailwindcss';

@theme {
  --shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200, currentColor);
  }

  :focus-visible {
    outline-color: var(--color-black, currentColor);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility container {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
